@font-face {
    font-family: "oswald";
    src: url("Oswald/static/Oswald-SemiBold.ttf");
    font-weight: 500;
}
body {
    margin: 5px 5px 5px 30px;
   }
   div {margin: 10px 10px 10px 10px;}
   p {margin: 0 30px; line-height: 210%;}
   form {margin: 0 0 0 30px}
.login-div {
    display: inline-block;
    padding: 0px;
    box-shadow: 0 0 2px;
    font-size: 15px;
}
.login {font-size: 24px; ; color: teal; margin: 0%; }
.login-div input {
    padding: 0px;
    display: inline;
    margin: 2px;
}
#email {width: 158px;}
#password {width: 145px;}
.formEmail {margin: 3px;}
.login-div label {font-size: 14px}
.login-div button:hover {
    box-shadow: 2px 2px 2px gray;
}
.login-div input:focus {
    box-shadow: 2px 2px 2px red;
    color: yellowgreen;}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
h1 {
    color: rgb(138, 37, 79);
    font-family: 'Roboto', sans-serif;
margin-left: 20px}

h3 {
    font-family: 'Roboto', sans-serif; font-size: 25px; }

#Location {color: darkmagenta; margin: 20px 50px 10px;}
#LocationInEurope {color: rgb(47, 128, 36);}
#FacesOfMonteRosa {color: maroon;}
#img-1 {visibility: visible;}

.content {color: rgb(18, 9, 59);
font-size: 20px;
font-family: 'Roboto', sans-serif;
text-align: justify;
line-height: 150%; 
font-weight: 100px; max-width: 80%}
.img {width: 40%; margin: 0 0 0 30px;
box-shadow: 0 0 11px black;
}
.menu {margin: 0 0.5% 0 0 ; width: 20%; 
    background-color: rgb(202, 226, 199); 
    font-weight: bold;
    height: 50px;
    color: rgb(37, 112, 77);
position: static;}
a {color: black; font-size: 20px;}
.bold {font-weight: bold;}
.img-div {background-color: mistyrose;}
.img-light {background-color: rgb(224, 163, 222);}
table, td, th, caption {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(238, 222, 76);
    table-layout: auto;
    border-collapse: collapse; 
}
table {
    width: 800px;
    height: 600px;
    margin: 30px;
    border: 1px solid black}

td {font-size: 20px;
    border: 1px solid black}

th {font-size: 24px;
font-weight: bold; color: darkgreen;
border: 1px solid black; height: 60px;}

caption {font-size: 40px;
    font-weight: bold;
    color: darkblue;
    line-height: 100px;
    border: 1px solid black;
    
}

#hegyek {font-size: 24px;
color: firebrick;}
ol, h1 {font-family:'Roboto', sans-serif;}
ul {font-family:'Roboto', sans-serif;}

#name {margin: 0 0 0 14px;
width: 152px;}
#email {margin: 3px 0 3px 9px;
width: 152px;}
#address {width: 152px;}
#comment {margin: 3px;
width: 140px;}
#commentLabel {vertical-align: middle;}

.cheese {font-family: 'Roboto', sans-serif; font-size: 14px;}

#order {margin: 0 0.5% 0 0 ; width: 20%; 
    background-color: rgb(230, 116, 169); 
    font-weight: bold;
    font-size: 20px;
    height: 30px;
    color: rgb(28, 63, 47);}
